
/* İkonlar üçün standart rəng */
.social-icon {
  color: white; 
  transition: color 0.7s ease; 
  cursor: pointer;
}

/* İkonların üzərinə gəldikdə rəngin narıncı olması */
.social-icon:hover {
  color: orange; /* Üzərinə gəldikdə narıncı rəng */
}

/* Digər mövcud stil kodları */
.marquee_annoucement {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.announcement-bar {
  display: inline-block;
  padding-right: 50%; /* Mətni axıtmaq üçün genişlik əlavə edir */
  animation: marquee 15s linear infinite; /* Mətni axıtmaq üçün animasiya */
}

.announcement-bar__message {
  display: inline;
  margin-right: 2rem; /* Mətni bir-birindən ayıran məsafə */
  color: white;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



/* Dropdown Toggle */
.custom-dropdown-toggle {
  background-color: black !important; /* Arxa fon qara */
  color: white !important; /* Mətn ağ */
  border: none !important; /* Sərhəd yox */
  transition: background-color 0.3s ease, color 0.3s ease; /* Keçid effekti */
}

.custom-dropdown-toggle:hover {
  background-color: #333 !important; /* Hover vəziyyətində daha tünd qara */
}

/* Dropdown Menu */
.custom-dropdown-menu {
  background-color: black !important; /* Arxa fon qara */
  color: white !important; /* Mətn ağ */
  min-width: 10px !important;
  z-index: 999;
}

.custom-dropdown-menu .dropdown-item {
  color: white !important; /* Mətn ağ */
  transition: background-color 0.3s ease; /* Hover keçid effekti */
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #333 !important; /* Hover vəziyyətində daha tünd qara */
}
