.social-icon {
  color: white; 
  transition: color 0.7s ease; 
  cursor: pointer;
}

.social-icon:hover {
  color: orange; 
}

.marquee_annoucement {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.announcement-bar {
  display: inline-block;
  padding-right: 50%; 
  animation: marquee 15s linear infinite; 
}

.announcement-bar__message {
  display: inline;
  margin-right: 2rem; 
  color: white;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Dropdown Toggle */
.custom-dropdown-toggle {
  background-color: black !important; 
  color: white !important; 
  border: none !important; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.custom-dropdown-toggle:hover {
  background-color: #333 !important; 
}

/* Dropdown Menu */
.custom-dropdown-menu {
  background-color: black !important; 
  color: white !important; 
  min-width: 10px !important;
  z-index: 999;
}

.custom-dropdown-menu .dropdown-item {
  color: white !important;
  transition: background-color 0.3s ease; 
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #333 !important; 
}
