.navbar {
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  margin-right: 0;
}

.navbar-collapse .d-flex {
  margin-left: auto;
}

.navbar-nav .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link,
.btn-outline-light {
  border: none;
}

form .icons {
  border: none !important;
}

.dropdown-item {
  color: black !important;
  transition: color 0.3s ease;
  transition: background-color 0.4s ease;
}

.dropdown-item:hover {
  color: rgb(255, 119, 0) !important;
  background-color: #111111;
}

.dropdown-menu {
  background-color: black;
  min-width: 10px;
}

.sticky-top {
  z-index: 100;
}


@media (max-width: 991px) {

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
  }

  .navbar-collapse.collapsing {
    display: block;
  }

  .navbar-collapse.show {
    display: block;
  }
}

.position-relative {
  position: relative;
}

.badge {
  position: absolute;
  top: -12px !important;
  right: 5px;
  font-size: 0.7rem;
  padding: 0.2em 0.4em;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.nav-link.active {
  color: orange !important;
}

.modal-header {
  border-bottom: none;
}

.modal-header .btn-close {
  filter: invert(1);
}

.modal-header .btn-close:hover {
  filter: invert(0.5);
}

.sign-up {
  transition: color 300ms ease !important;
}

.sign-up:hover {
  color: orange !important;
}