.caption-center {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.carousel-indicators {
    display: none !important;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.carousel-caption a {
    text-decoration: none;
    padding: 10px 45px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(255, 119, 0);
    margin-top: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
}

.carousel-caption a:hover {
    background-color: rgb(200, 100, 0);
}

@media (max-width:700px) {
    .carousel-caption button {
        margin-top: -5px;
        font-size: 2.3vw !important;
    }
}
